Write a Python program to rearrange positive and negative numbers in a given array using Lambda.

In [1]:
arr_nums = [-1, 2, -3, 5, 7, 8, 9, -10]

result = sorted(arr_nums, key = lambda i: 0 if i == 0 else -1 / i)

result

[2, 5, 7, 8, 9, -10, -3, -1]

Write a Python program to create a list by concatenating a given list with a range from 1 to n.

In [2]:
n = 5
list1 = ['p','q']

new_list = ['{}{}'.format(x, y) for y in range(1, n+1) for x in list1]
new_list

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

Write a Python program to get unique values from a list.

In [3]:
sample_list = [10, 20, 30, 40, 40, 50, 60, 60, 70, 80, 80]

unique_values = set(sample_list)

unique_values

{10, 20, 30, 40, 50, 60, 70, 80}

Write a query to display the columns in a specific order, such as order date, salesman ID, order number, and purchase amount for all orders.

SELECT salesman_id, order_number, purchase_amount, order_date FROM orders_table ORDER BY order_date;